.app-header-wrapper {
    text-align: center;
    color: #000;
}

.app-logo {
    height: 80px;
    color: white;
    padding-bottom: 10px;
}

.app-header {
    background-color: #aaaaaa;
    height: 170px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
